$sideMargin: 12px;

.input {
  display: inline-block;
  // background-color: white;
  color: blue;
  /* border-radius: 10px; */
  margin: 0 auto;
}

.button {
  // background-color: green;
  align-content: center;
}

.container {
  background-color: grey;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: block;
  /* background-color: blueviolet; */
  overflow: hidden;
}

.subheader {
  margin-left: $sideMargin;
  margin-top: 3px;
}

article {
  margin: $sideMargin;
}
