$aliceBlue: #e8eef2;
$paleSilver: #d6c9c9;
$beauBlue: #c7d3dd;
$aero: #77b6ea;
$onyx: #37393a;

$darkBlue: #2a3a59;

.App {
  // text-align: center;
}

h1 {
  float: right;
  margin: 20px;
  margin-bottom: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: $onyx;
  min-height: 10vh;
  // display: flex;
  /* flex-direction: column; */
  // align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.Posts-Container {
  position: relative;
  display: block;
  background-color: #025a72;
  min-height: 90vh;
}

.Posts-Scroll {
  position: relative;
  display: flex;
  width: 100vw;
  height: 10vh;
  background-color: $beauBlue;
  float: top;
  text-align: center;
}

.Post-Container {
  position: relative;
  display: flex;
  align-items: center;
  height: 80vh;
  background-color: $aero;
}

.Post {
  margin: auto;
  height: 500px;
  width: 800px;
  background-color: $beauBlue;
  border-radius: 20px;
}
